.promociones__container {
  padding: 15px;
}
.promocion__container {
  overflow: hidden;
  display: flex;
  gap: 15px;
  border: 1px solid var(--color_5);
  border-radius: 10px;
  box-shadow: 5px 5px 5px var(--color_5);
  margin: 0 auto;
  margin-bottom: 20px;
  transition: transform ease-in-out 0.2s;
}
.promocion__container:hover {
  transform: scale(1.02);
}
.promociones__title {
  text-align: center;
  margin: 20px 0 30px;
}
.promociones__img {
  width: 120px;
  object-fit: cover;
}
.promociones__body {
  padding: 10px 0;
}
.promociones__title__body {
  display: flex;
  align-items: center;
  gap: 10px;
}
.promociones__title__desc {
  font-weight: bold;
}
.promociones__title__desc,
.promociones__paragraph {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 8px;
}
.promociones__paragraph__desc4 {
  color: #ff0000;
}
.promociones__title__desc {
  font-weight: 900;
  font-size: 1.2rem;
}
.promociones__value {
  margin: 20px 0;
}

@media (min-width: 576px) {
  .promociones__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  .promocion__container {
    width: 500px;
  }
  .promociones__img {
    width: 180px;
  }
}
