:root {
  --color_1: #88001b;
  --color_2: #fff;
  --color_3: #242424;
  --color_4: #ffffffde;
  --color_btn_1: #65b741;
  --color_5: #e2dfdf;
}
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto Mono", monospace;
  background-color: var(--color_4);
  color: var(--color_3);
}

/*APP SECTION*/
.app__container {
  display: grid;
  grid-template-areas:
    "navbar"
    "header"
    "pizzas"
    "footer";
  margin: 0;
  padding: 0;
  min-width: 375px;
}

.aplication__container {
  margin-top: 57px;
}

/*BOTONES*/
.btn {
  height: 35px;
  padding: 5px 15px;
  background-color: var(--color_4);
  font-weight: 700;
  font-size: 1.01rem;
  color: var(--color_3);
  border-radius: 10px;
  box-shadow: 2px 2px 5px #00000075;
  border: 1px solid var(--color_3);
  cursor: pointer;
}
.btn:hover {
  opacity: 80%;
  background-color: var(--color_1);
  color: var(--color_4);
}
.pizzas__cart__icon:hover {
  fill: var(--color_4);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
